body {
    background: linear-gradient(to right, #acacbd, #ffffff);
    font-family: Arial, sans-serif;
}

.topo {
    background-color: rgb(185, 185, 185);
    padding: 5px;
    border-radius: 15px;
    border: 2px solid #59636b;
    width: 60%;
    margin: auto;
}

.Cabecalho {
    text-align: center;
    color: #263238;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.imagem img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid black;
}

.Resumo {
    padding: 10px 20px;
    border-bottom: 2px solid #59636b;
}

.contato {
    margin-left: 0;
    padding: 10px 20px;
    
}

.dados {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

.lado-da-foto {
    width: 500px;
    background-color: rgb(138, 161, 180);
    padding: 30px;
    border: 1px solid #59636b;
    border-radius: 10px;
}

.contato h2 {
    color: #263238;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.formaçao {
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.formaçao {
    text-align: center;
}

table {
    margin: auto;
    background-color: #ffffff;
}

th {
    background-color: #464545;
    color: white;
}

th, td {
    padding: 10px;
}

.experiencia {
    text-align: center;
}

.experiencia + ul {
    width: 700px;
    margin: auto;
    text-align: left;
}

.tecnica{
    text-align: center;
}

.tecnica + ul {
    width: 700px;
    margin: auto;
    text-align: left;
}

.certificado{
    text-align: center;
}

.certificado + ul {
    width: 700px;
    margin: auto;
    text-align: left;
}

.idioma{
    text-align: center;
}

.idioma + ul {
    width: 700px;
    margin: auto;
    text-align: left;
}

.bloco {
    background-color: #b6e1ec;
    width: 605px;
    margin: 15px auto;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 8px;
}

a[href="#inicio"] {
    display: block;
    text-align: left;
    margin: 20px 0;
}

#rodape {
    background: linear-gradient(to right, #9bb4cc, #506a7c);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    margin-top: 100px;
}
